@media only screen and (max-width:1036px) {

    .background {
        background-size: contain !important;
    }
}


.bold {
    font-family: 'Merriweather', serif;
    letter-spacing: -0.03em;
}

.font_style {
    font-family: 'Open Sans', sans-serif;
}


.background {

    background-image: url(../assets/landing_image.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}