@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=IBM+Plex+Mono&family=Merriweather&family=Montserrat:wght@700&family=Nunito&display=swap');

/* font-family: 'Cutive Mono', monospace;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&family=Raleway:wght@100&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font_open_sans {
    font-family: 'Open Sans', sans-serif;
}

.font_arial {
    font-family: Arial, Helvetica, sans-serif;
}

.font_helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font_poppins {
    font-family: 'Poppins', sans-serif;
}

.font_verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.font_playfair {
    font-family: 'Playfair', serif;
}

.font_merri {
    font-family: 'Merriweather', serif;
}


input:focus {
    outline: none !important;
}


i {
    cursor: pointer;
}

@media only screen and (max-width:1036px) {
    .bg_pitch {
        height: fit-content !important;
        background-image: none !important;
    }

    footer {
        height: fit-content !important;
        padding-bottom: 5%;
    }

    .bg_about {
        height: fit-content !important;
        background-image: none !important;

    }
}


.bg_pitch {
    background-image: url("../assets/footer_image.svg");
    background-position: left;
}

.bg_quit {
    background-image: url("../assets/doodle.svg");
    background-position: right;
    background-repeat: no-repeat;

}

.bg_about {
    background-image: url("../assets/bg_about/envelope.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;

}

.bg_teller {
    background-image: url("../assets/bg_about/work.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.content-v {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.fade {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.662), #fff);
}