@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=IBM+Plex+Mono&family=Merriweather&family=Montserrat:wght@700&family=Nunito&display=swap');

/* font-family: 'Cutive Mono', monospace;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&family=Raleway:wght@100&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


input[type="text"]:focus {
    outline: none;
}


i {
    cursor: pointer;
}